// Bootswatch
// Replace this file with a custom _bootswatch.scss.

// https://github.com/arshad/radix-bootswatch
// Spacelab 3.0.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");

@mixin btn-shadow($color) {

  @include gradient-vertical-three-colors(lighten($color, 15%), $color, 50%, darken($color, 4%));
  border: 1px solid darken($color, 10%);
}

// Navbar =====================================================================

.navbar {

  @include btn-shadow($navbar-default-bg);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  filter: none;

  .caret,
  .caret:hover {
    @include transition(border-color ease-in-out .2s);
  }

  .dropdown-menu {
    text-shadow: none;
  }
}

.navbar-inverse {
  @include btn-shadow($navbar-inverse-bg);
  filter: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.navbar-nav > li > a,
.navbar-nav > li > a:hover {
  padding-top: $navbar-padding-vertical + 2px;
  padding-bottom: $navbar-padding-vertical - 2px;
  @include transition(color ease-in-out .2s);
}

.navbar-brand,
.navbar-brand:hover {
  @include transition(color ease-in-out .2s);
}

// Buttons ====================================================================

.btn {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.btn-default,
.btn-default:hover {
  @include btn-shadow($btn-default-bg);
}

.btn-primary,
.btn-primary:hover {
  @include btn-shadow($btn-primary-bg);
}

.btn-success,
.btn-success:hover {
  @include btn-shadow($btn-success-bg);
}

.btn-info,
.btn-info:hover {
  @include btn-shadow($btn-info-bg);
}

.btn-warning,
.btn-warning:hover {
  @include btn-shadow($btn-warning-bg);
}

.btn-danger,
.btn-danger:hover {
  @include btn-shadow($btn-danger-bg);
}

// Typography =================================================================

h1, h2, h3, h4, h5, h6 {
  color: $gray-darker;
}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

.pagination {

  .active > a,
  .active > a:hover {
    border-color: #ddd;
  }
}

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.panel-primary {
  .panel-title {
    color: #fff;
  }
}
